<div class="page-header">
    <div class="btn-toolbar pull-right">
        <button type="submit" class="btn btn-success" data-bind="click: save"><span class="fa fa-save"></span> Save</button>
        <a data-bind="attr: { href: '#books' + (id() ? '/' + id() : '') }" class="btn btn-default">Cancel</a>
    </div>
    <h2 data-bind="text: (typeof id === 'undefined') ? 'Create a new book' : 'Edit book details'"></h2>
</div>

<form class="form-horizontal" role="form" data-bind="submit: save">
    <div class="form-group">
        <label for="title" class="col-sm-3 control-label">Title</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="title" placeholder="Title" name="title" data-bind="value: title">
        </div>
    </div>
    <div class="form-group">
        <label for="author" class="col-sm-3 control-label">Author</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="author" placeholder="Author" name="author" data-bind="value: author">
        </div>
    </div>
    <div class="form-group">
        <label for="pagesCount" class="col-sm-3 control-label">Pages Count</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" id="pagesCount" placeholder="Pages Count" name="pagesCount" data-bind="value: pagesCount">
        </div>
    </div>
    <div class="form-group">
        <label for="image" class="col-sm-3 control-label">Image</label>
        <div class="col-sm-6">
            <input type="url" class="form-control" id="image" placeholder="Image" name="image" data-bind="value: image">
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-3 control-label">Description</label>
        <div class="col-sm-6">
            <textarea class="form-control" rows="3" id="description" placeholder="Description" name="description" data-bind="value: description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6 btn-toolbar">
            <button type="submit" class="btn btn-success"><span class="fa fa-save"></span> Save</button>
            <a data-bind="attr: { href: '#books' + (id() ? '/' + id() : '') }" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
